environment:
  PYTHONIOENCODING: UTF-8
  LOG_LEVEL: DEBUG
  matrix:
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37-x64"

install:
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  - pip install pipenv
  - pipenv lock -r >> requirements.txt
  - pipenv lock -r --dev >> requirements.txt
  - pip install -r requirements.txt

build: off

test_script:
  - python --version
  - pytest -v -s --cov
