[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "<3.0.0"
pytest-mock = "*"
pytest-pylint = "*"
pytest-cov = "*"
coverage = "*"
coveralls = "*"
twine = "*"
wheel = "*"
autopep8 = "*"
synapse_test_helper = ">=0.0.3"
python-dotenv = "*"

[packages]
synapseclient = ">=2.3.1,<3.0.0"
synapsis = ">=0.0.6"

[requires]
python_version = "3.11"
